# PYTHON 3.12.3

# available in conda-forge
streamlit>=1.34
pandas>=2.2
plotly>=5.22
python-dotenv>=1.0
# fiako-stations
geopy>=2.4
pytables>=3.9
# hidrokit-rainfall
statsmodels>=0.14
# fiako-anfrek
scipy>=1.13
# LLM
openai>=1.26
# test
pytest>=8.2

# PIP
hidrokit>=0.5
st-pages>=0.4