.fullScreenFrame > div {
    display: flex;
    justify-content: center;
}

.stMarkdown h1, .stMarkdown h2, .stMarkdown h3, .stMarkdown h4, .stMarkdown h6 {
    text-align: center;
}

.stMarkdown p {
    text-align: justify;
}